@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1{
	text-transform: uppercase;
	color:RoyalBlue;
    text-align: center;
}

body{
	margin:0 10%;
	font-family: 'Open Sans', 'Calibri Light', sans-serif;
	font-size: 1.1em;
	text-align: left;
	background-color: lightblue ;
}

p{text-indent: 5%;
}

#bouton{
    background:RoyalBlue ;
    padding: 1vh 3vw 1vh 3vw;
    text-decoration : none;
    border-radius: 0.5vw;
    border:  0.2vw solid black;
    color: black;
    margin:  0 30vw;
}

#dvlweb {
    margin: 0 26%;
    width: 45%;
    height: 45%;
}

footer{
	padding-top: 0.5vh;
  text-align: center;
	background-color: Azure;
}
